<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
            <title>addcart</title>
            <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    </head>>        
    <body>
        <script>
            var config = {
                apiKey: "AIzaSyDLHogcgChT5Z2JpRCq9wte-M6RD5GMX7s",
                authDomain: "project-62f2c.firebaseapp.com",
                databaseURL: "https://project-62f2c.firebaseio.com",
                storageBucket: "project-62f2c.appspot.com"
            };
            firebase.initializeApp(config);
            
            
            
        </script>    
        <script src='index.js'>
        </script>
        <hr>   
	
    <h5>quality<input type='number' name='item_name' id='item_name' /></h5>

    <input type="button" value="Add cart" onclick="sumbitClick();" />
        

    </body>
    </html>>
    
