extends layout
  
block content
    br
    br
    br
    h1 Book detail
    h5='book name:'+book.name
    h5='book price:'+book.price
    hr
    br    
    a.btn.btn-default(href='/books/paypal/'+book._id) add to cart
    a.btn.btn-default(href='/books/book/update_book/'+book._id) Edit
    a.btn.btn-danger.delete-book(href='#',data-id=book._id) DELETE