<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>paypal</title> 
</head>

<body>
    <br>
    <br>
    <h1> success to pay the payment</h1>
    <hr>
    <a href="/clean"> Click here to homepage</a>
</body>
</html>