extends layout
  
block content
    br
    br
    br
    h1 Order detail
    h5='Name: '+ order.name
    h5='Price: $'+ order.price

    hr
    a.btn.btn-danger.delete-order(href='#',data-id=order._id) Remove
    
    
