<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>paypal</title> 
</head>

<body>
    <br>
    <br>
    <h1> price</h1>
     h2="price: "+book.price
    <hr>
    <form action='/pay' method='post'> 
        <input type="submit" value="Buy">
    </form>    
</body>
</html>