extends layout
  
block content
    <br>
    <br>
    <h1>Shopping Cart</h1>
   
    h5='Total Price:'+ total
    h5='Item:'+ I
    <hr>

    <form action='/pay' method='post'> 
        <input type="submit" value="pay with paypal">
    </form>    
    
    a.btn.btn-default(href='/clean') clean the shooping cart
    a.btn.btn-default(href='/') Add another one